################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Market_viewer/.vs/Market_viewer2.0/FileContentIndex
